doctype
html
	head
		title Log in with Google
		link(rel='stylesheet', href='/static/style.css')
	body
		div.container
			h1 Hello, nice to see You in our App!
			button
				a(href='/auth/google') Sign In
