doctype
html
	head
		link(rel='stylesheet', href='/static/style.css')
	body
		div.container
			h1 Congratulations #{user.displayName} :-), you have logged successfully!
			img(src='https://i.imgur.com/Uwr7ZZr.jpg')
